{% extends "base.html" %}

{% comment %}
	Homepage of Goali.
{% endcomment %}

{% block body %}
	{% load bootstrap3 %}
	{% load staticfiles %}

		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div id="home-container">
					<div id="intro" class="inner cover">
						<h1 class="cover-heading">Welcome to Goali</h1>
						<p class="intro">Goali is an online service to help you keep track of your goals and aspirations.</p>
						<p class="intro"><a href="#" class="pure-button pure-button-primary">Learn more</a></p>
					</div>
				<div id="formwrapper">
					<!-- Registration form-->
					<form class="pure-form pure-form-stacked" action="" method="post">
						{% csrf_token %}
						<p>New to Goali?</p>
						{% bootstrap_form registerform %}
						<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Sign Up for Goali Now!" name="registerSub"/>
						<p><a id="signintext" href="#signin-form" rel="signin-form">Or Sign In Here</a></p>
						<input type="hidden" name="next" value="{{ next|escape }}" />
					</form>
					
				</div>
			</div>

{% endblock %}
